

<div id="main">
  <div id="left">
    <form id="search_form">
      <input type="text" id="search_field" name="search" placeholder="ex. jalapeños">
      <input type="submit" id="search_button" value="Search">
      <p>
        - Search for keywords in tweets<br>
        - Search for hashtags (ex. #football)
      </p>
    </form>
  </div>

  <div id="right">
    <div id="tweet_list">
      <h2>Tweets</h2>
      <div id="divider1"></div>
    </div>
  </div>

  <div id="powered">
    <h1>tweet search engine</h1>
    <img id="img1" width="160" src="assets/TWITTER.png">&nbsp;&nbsp;
    <img id="img2" width="160" src="assets/GA.png">
  </div>
  <div style="clear:both"/>

</div>







