<div id="picture">
  <img src="<%= value.user.profile_image_url %>">
</div>
<div id="tweet">
  <h3><strong><%= value.user.name%><strong></h3>
  <h4>@<%= value.user.screen_name%></h4>
  <h5><%= value.text%></h5>
</div>
<div id="divider2">

