// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: rgba(7,26,37,1);
}

#main{
  background-color: rgba(63,82,92,.5);
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-bottom: 10px;
}

#left{
  background-color: white;
  width: 32%;
  height: 80px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  float: left;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px; 
}

#right{
  background-color: white;
  width: 60%;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  border-radius: 5px;
}

#powered{
  width: 34%;
  margin-left: 20px;
  margin-right: 10px;
  clear: left;
  float: left;
  border-radius: 5px;
  text-align: center;
}

h1{
  color: white;
  font-family: Georgia, Serif;
  margin-top: 10px;
}

#search_field{
  background-color: rgba(242,242,242,1);
  width: 230px;
  height: 29px;
  border-radius: 5px;
  border: none;
  border: 1px solid rgba(57,124,199,1);
  font-family: Georgia, Serif;
  font-size: 20px;
  color: rgba(57,124,199,1);
  padding-left: 5px;
}

#search_button{
  background-color: rgba(57,124,199,1);
  color: white;
  font-family: Georgia, Serif;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  height: 32px;
  width: 80px;
  border: 1px solid rgba(57,124,199,1);
  float: right;
}

p{
  font-family: Georgia, Serif;
  color: rgba(57,124,199,1);
  font-size: 15px;

}

.tweet_list{
  padding-bottom: 10px;
}

#divider1{
  background-color: rgba(57,124,199,1);
  height: 1px;
  margin-bottom: 5px;
}

#divider2{
  background-color: #CECEDE;
  height: 1px;
  clear: both;
}

h2{
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-family: Georgia, Serif;
  font-size: 23px;
  color: rgba(57,124,199,1);
}

#picture{
  width: 9%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#tweet{
  width: 87%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

img{
  border-radius: 5px;
}

h3{
  color: black;
  margin: 0px;
  font-family: Georgia, Serif;
  font-size: 15px;
  float: left;
}

h4{
  color: grey;
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 3px;
  font-family: Georgia, Serif;
  font-size: 12px;
  float: left;
}

h5{
  color: rgba(57,124,199,1);
  font-family: Arial;
  font-size: 13px;
  clear: both;
  margin: 0px;
}






